# 1.1 Introduction

# 1.2 Reference

# 2.1 Import library and data

import libeary that is used for the analysis

In [685]:
# data analysis and wrangling
import pandas as pd
from pandas import DataFrame
import numpy as np
import random as rnd
import math
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats as stats

# visualization
import seaborn as sns
sns.set_style('darkgrid')
import matplotlib.pyplot as plt
%matplotlib inline

# scaling and train test split
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.preprocessing import MinMaxScaler

# pipeline setup

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MaxAbsScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import KNNImputer
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

# cross validation
from sklearn.model_selection import KFold
# Import the evaluation matrics
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

from sklearn.metrics import precision_score, recall_score, plot_confusion_matrix
from sklearn.model_selection import train_test_split, GridSearchCV,\
cross_val_score, RandomizedSearchCV


from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn.preprocessing import OneHotEncoder
from sklearn import tree

# evaluation on test data
from sklearn import metrics
from sklearn.metrics import mean_squared_error,mean_absolute_error,explained_variance_score
from sklearn.metrics import classification_report,confusion_matrix
# import library for Gradient Boosting
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier

Read the data into a pandas dataframe:

In [686]:
file_path_1 = ('\\Users\\eggfr\\Flatiron\\Flatiron_phase5_project\\data\\Auto_Train_Dataset.csv')
file_path_2 = ('\\Users\\eggfr\\Flatiron\\Flatiron_phase5_project\\data\\Auto_Data_Dictionary.csv')

In [687]:
autoloan_raw_df = pd.read_csv(file_path_1,encoding='unicode_escape') 
autoloan_raw_df.head()

C:\Users\eggfr\AppData\Local\Temp\ipykernel_7052\4212711854.py:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  autoloan_raw_df = pd.read_csv(file_path_1,encoding='unicode_escape')

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.00,0.00,1.00,0.00,0.00,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.57,0.48,NaN,0.02,63.00,NaN,0
1,12138936,20250,1.00,0.00,1.00,NaN,0.00,15282,1826.55,Alone,...,Yes,Yes,Government,0.56,0.22,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.00,0.00,1.00,0.00,1.00,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.55,0.33,0.07,277.00,0.00,0
3,12188929,15750,0.00,0.00,1.00,1.00,0.00,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.14,0.63,NaN,1700.00,3.00,0
4,12133385,33750,1.00,0.00,1.00,0.00,2.00,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.51,0.30,0.36,0.20,674.00,1.00,0

There are 121856 rows and 40 variables in this dataset.

In [688]:
autoloan_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

autoloan_raw_df.isna().sum()

# 2.2 Data Undestanding and Identifying Features and Target

Once the data is loaded into a pandas dataframe, the next step is identifying which columns represent features and which column represents the target. In this project, we are going to focus on classifying whether loans is defaulted using data collected from a project competition in Hackathon platform via kaggle, which can be found from this link.
https://www.kaggle.com/datasets/saurabhbagchi/dish-network-hackathon?select=Test_Dataset.csv

The page provides two datasets, TrainDataset and TestDataset. This model building is to be done on TrainDataset. Testdataset from the link isnt used as ['Default'] data is missing. 

In the test_train split section, we are going to assign X to be the features and y to be the target, which is the ['Default'] variable. Also, this is an  inbalanced dataset, around 8% loans is defaulted. 

There is 121856 total rows of data. There is 39 columns of features. The first column respondent_id is a unique and random identifier. The remaining 38 features are described in the data library desceiption. 

Amount of loan that is defaulted is shown below.

In [689]:
autoloan_raw_df['Default'].value_counts(normalize=True)

0   0.92
1   0.08
Name: Default, dtype: float64

In [690]:
autoloan_lib_raw_df = pd.read_csv(file_path_2,encoding='unicode_escape')

Data library description is shown as below.

In [691]:
# let's take a look of the meaning of each columns
def left_align(df: DataFrame):
    left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
    left_aligned_df = left_aligned_df.set_table_styles(
        [dict(selector='th', props=[('text-align', 'left')])]
    )
    return left_aligned_df
left_align(autoloan_lib_raw_df)

# Train Test Split

Separating data into training and testing sets is an important part of evaluating the models.Most of the data is used for training, and a smaller portion of the data is used for testing. For this analysis: we only split data into train and test. 75% of the data is for training and 25% for test. Also, the data split happened before we even do any EDA analysis to prevent data leakage. There is 91392 row of datas for the train set and 30464 rows of the data for test set before any data cleaning or analysis is done.

In [692]:
y = autoloan_raw_df['Default']
X = autoloan_raw_df.drop(columns=['Default'], axis=1)

In [693]:
#create train-test set using 75%-25% ratio for the train set and test set and set the random state = 42) randomly split the data
x_train, x_test, y_train, y_test = train_test_split(X, y ,test_size=0.25,random_state=42)
# shape of train and test splits
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((91392, 39), (30464, 39), (91392,), (30464,))

# 4.1 Pre-processing and Exploratory Analysis

In [694]:
autoloan_raw_df.isna().sum()

ID                                0
Client_Income                  3607
Car_Owned                      3581
Bike_Owned                     3624
Active_Loan                    3635
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client               1746
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status          3473
Client_Gender                  2413
Loan_Contract_Type             3651
Client_Housing_Type            3687
Population_Region_Relative     4857
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             41435
Client_Family_Members          2410
Cleint_City_Rating             2409
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              3609
Score_Source_1                68835
Score_Source_2                 5686
Score_Source_3                26921
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

In [695]:
missing_fractions = autoloan_raw_df.isnull().mean().sort_values(ascending=False)
#missing_fractions = autoloan_raw_df.isnull().mean()
missing_fractions

Own_House_Age                0.66
Score_Source_1               0.56
Social_Circle_Default        0.51
Client_Occupation            0.34
Score_Source_3               0.22
Credit_Bureau                0.15
ID_Days                      0.05
Score_Source_2               0.05
Population_Region_Relative   0.04
Loan_Annuity                 0.04
Client_Income_Type           0.03
Client_Housing_Type          0.03
Phone_Change                 0.03
Application_Process_Hour     0.03
House_Own                    0.03
Loan_Contract_Type           0.03
Employed_Days                0.03
Client_Education             0.03
Child_Count                  0.03
Active_Loan                  0.03
Credit_Amount                0.03
Bike_Owned                   0.03
Registration_Days            0.03
Type_Organization            0.03
Client_Income                0.03
Age_Days                     0.03
Car_Owned                    0.03
Client_Marital_Status        0.03
Application_Process_Day      0.02
Client_Gender                0.02
Client_Family_Members        0.02
Cleint_City_Rating           0.02
Accompany_Client             0.01
ID                           0.00
Client_Contact_Work_Tag      0.00
Client_Permanent_Match_Tag   0.00
Workphone_Working            0.00
Homephone_Tag                0.00
Mobile_Tag                   0.00
Default                      0.00
dtype: float64

There is missing value dataset, and lets f

# 4.1 ID

Are all the IDs unique?

In [696]:
autoloan_raw_df['ID'].nunique()

121856

In [697]:
pd.options.display.float_format = "{:.2f}".format

In [698]:
autoloan_raw_df['ID'].describe()

count     121856.00
mean    12160928.50
std        35176.94
min     12100001.00
25%     12130464.75
50%     12160928.50
75%     12191392.25
max     12221856.00
Name: ID, dtype: float64

They are all unique, however ID isnt useful for modeling and is dropped later.

# 4.2 Income

0.03% of Client_Income data has a missing value, and it is going to be replaced by the income average?, which is the most frequency method for the SimpleImputer when we set up the preprocessing pipeline

In [699]:
autoloan_raw_df['Client_Income'] = pd.to_numeric(autoloan_raw_df['Client_Income'], errors='coerce')
autoloan_raw_df['Client_Income'] = autoloan_raw_df['Client_Income'].fillna(0)
x_train['Client_Income'] = pd.to_numeric(x_train['Client_Income'], errors='coerce')
x_test['Client_Income'] = pd.to_numeric(x_test['Client_Income'], errors='coerce')

#autoloan_raw_df['Client_Income'] = autoloan_raw_df['Client_Income'].fillna(0)
#autoloan_raw_df['Client Income'] = autoloan_raw_df['Client_Income'].apply(lambda x: float(x))
#autoloan_raw_df['Client Income'] = autoloan_raw_df['Client Income'].astype(float).fillna(autoloan_raw_df['Client Income'].median())
#autoloan_raw_df[autoloan_raw_df.columns['Client_Income']] = autoloan_raw_df[autoloan_raw_df.columns['Client_Income']].apply(pd.to_numeric, errors='coerce').fillna(0)

In [700]:
autoloan_raw_df.isna().sum()

ID                                0
Client_Income                     0
Car_Owned                      3581
Bike_Owned                     3624
Active_Loan                    3635
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client               1746
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status          3473
Client_Gender                  2413
Loan_Contract_Type             3651
Client_Housing_Type            3687
Population_Region_Relative     4857
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             41435
Client_Family_Members          2410
Cleint_City_Rating             2409
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              3609
Score_Source_1                68835
Score_Source_2                 5686
Score_Source_3                26921
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

3.3 Car_Owned

0.03% of Car_Owned data has a missing value, and it is going to be replaced by the non Car_Owned, which is the most frequency method for the SimpleImputer when we set up the preprocessing pipeline

In [701]:
autoloan_raw_df['Car_Owned'].value_counts(normalize = True)

0.00   0.66
1.00   0.34
Name: Car_Owned, dtype: float64

In [702]:
autoloan_raw_df['Car_Owned'] = autoloan_raw_df['Car_Owned'].fillna(0)

 3.4 Bike_Owned

0.03% of Bike_Owned data has a missing value, and it is going to be replaced by the non Bike_Owned, which is the most frequency method.

In [703]:
autoloan_raw_df['Bike_Owned'].value_counts(normalize = True)

0.00   0.67
1.00   0.33
Name: Bike_Owned, dtype: float64

In [704]:
autoloan_raw_df['Bike_Owned'] = autoloan_raw_df['Bike_Owned'].fillna(0)

 3.5 Active_Loan

In [705]:
autoloan_raw_df['Active_Loan'].value_counts(normalize = True)

0.00   0.50
1.00   0.50
Name: Active_Loan, dtype: float64

0.03% of active loan data has a missing value, and it is going to be replaced by the mean of the default group.

In [706]:
autoloan_raw_df['Active_Loan'].value_counts(normalize = True)

0.00   0.50
1.00   0.50
Name: Active_Loan, dtype: float64

In [707]:
autoloan_raw_df['Active_Loan'] = autoloan_raw_df['Active_Loan'].fillna(autoloan_raw_df.groupby('Default')['Active_Loan'].transform('mean'))

In [708]:
autoloan_raw_df.isna().sum()

ID                                0
Client_Income                     0
Car_Owned                         0
Bike_Owned                        0
Active_Loan                       0
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client               1746
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status          3473
Client_Gender                  2413
Loan_Contract_Type             3651
Client_Housing_Type            3687
Population_Region_Relative     4857
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             41435
Client_Family_Members          2410
Cleint_City_Rating             2409
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              3609
Score_Source_1                68835
Score_Source_2                 5686
Score_Source_3                26921
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

In [709]:
#autoloan_raw_df['Client_Income'] = autoloan_raw_df['Client_Income'].fillna(autoloan_raw_df['Client_Income'].median())

In [710]:
autoloan_raw_df['Client_Occupation'].value_counts(normalize=True)

Laborers             0.26
Sales                0.15
Core                 0.13
Managers             0.10
Drivers              0.09
High skill tech      0.05
Accountants          0.05
Medicine             0.04
Security             0.03
Cooking              0.03
Cleaning             0.02
Private service      0.01
Low-skill Laborers   0.01
Secretaries          0.01
Waiters/barmen       0.01
Realty agents        0.00
HR                   0.00
IT                   0.00
Name: Client_Occupation, dtype: float64

3.6 House_Own

In [711]:
autoloan_raw_df['House_Own'].value_counts(normalize = True)

1.00   0.69
0.00   0.31
Name: House_Own, dtype: float64

0.03% of active loan data has a missing value, and it is going to be replaced by the mean of the default group.

3.7 Child_Count

In [712]:
autoloan_raw_df['Child_Count'].value_counts(normalize = True)

0.00    0.70
1.00    0.20
2.00    0.09
3.00    0.01
4.00    0.00
5.00    0.00
6.00    0.00
7.00    0.00
14.00   0.00
10.00   0.00
8.00    0.00
19.00   0.00
12.00   0.00
9.00    0.00
Name: Child_Count, dtype: float64

In [713]:
autoloan_raw_df['Client_Occupation'] = autoloan_raw_df['Client_Occupation'].fillna(value ='Other')

In [714]:
autoloan_raw_df.isna().sum()

ID                                0
Client_Income                     0
Car_Owned                         0
Bike_Owned                        0
Active_Loan                       0
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client               1746
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status          3473
Client_Gender                  2413
Loan_Contract_Type             3651
Client_Housing_Type            3687
Population_Region_Relative     4857
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation                 0
Client_Family_Members          2410
Cleint_City_Rating             2409
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              3609
Score_Source_1                68835
Score_Source_2                 5686
Score_Source_3                26921
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

In [715]:
autoloan_raw_df.shape

(121856, 40)

Drop these- too many missing value

In [716]:
autoloan_raw_df = autoloan_raw_df.drop(columns=['Default','Own_House_Age','Social_Circle_Default','Score_Source_1','Score_Source_2','Score_Source_3'], axis=1)
x_train = x_train.drop(columns=['ID','Own_House_Age','Social_Circle_Default','Score_Source_1','Score_Source_2','Score_Source_3'], axis=1)
x_test = x_test.drop(columns=['ID','Own_House_Age','Social_Circle_Default','Score_Source_1','Score_Source_2','Score_Source_3'], axis=1)

In [717]:
autoloan_raw_df.shape

(121856, 34)

Three_percent -- handle by filling 0

In [718]:
three_per = ['Car_Owned','Bike_Owned','House_Own','Child_Count','Accompany_Client','Client_Marital_Status','Client_Gender','Loan_Contract_Type','Client_Housing_Type','Population_Region_Relative','Population_Region_Relative','Age_Days','Registration_Days','ID_Days','Client_Family_Members','Cleint_City_Rating','Application_Process_Day','Application_Process_Hour','Type_Organization','Phone_Change']
three_per

['Car_Owned',
 'Bike_Owned',
 'House_Own',
 'Child_Count',
 'Accompany_Client',
 'Client_Marital_Status',
 'Client_Gender',
 'Loan_Contract_Type',
 'Client_Housing_Type',
 'Population_Region_Relative',
 'Population_Region_Relative',
 'Age_Days',
 'Registration_Days',
 'ID_Days',
 'Client_Family_Members',
 'Cleint_City_Rating',
 'Application_Process_Day',
 'Application_Process_Hour',
 'Type_Organization',
 'Phone_Change']

In [719]:
for item in three_per:
    autoloan_raw_df[item] = autoloan_raw_df[item].fillna(0)
    #autoloan_raw_df[item] = autoloan_raw_df[item].astype(int)

In [720]:
autoloan_raw_df.isna().sum()

ID                                0
Client_Income                     0
Car_Owned                         0
Bike_Owned                        0
Active_Loan                       0
House_Own                         0
Child_Count                       0
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client                  0
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status             0
Client_Gender                     0
Loan_Contract_Type                0
Client_Housing_Type               0
Population_Region_Relative        0
Age_Days                          0
Employed_Days                  3649
Registration_Days                 0
ID_Days                           0
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation                 0
Client_Family_Members             0
Cleint_City_Rating                0
Application_Process_Day           0
Application_Process_Hour          0
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization                 0
Phone_Change                      0
Credit_Bureau                 18540
dtype: int64

mean for now for 'Credit_Amount', 'Loan_Annuity'

In [721]:
autoloan_raw_df['Credit_Amount'] = autoloan_raw_df['Credit_Amount'].fillna(autoloan_raw_df['Credit_Amount'].mean)
autoloan_raw_df['Loan_Annuity'] = autoloan_raw_df['Loan_Annuity'].fillna(autoloan_raw_df['Loan_Annuity'].mean)

In [722]:
autoloan_raw_df['Credit_Amount'] = autoloan_raw_df['Credit_Amount'].fillna(autoloan_raw_df['Credit_Amount'].mean)

In [723]:
autoloan_raw_df.isna().sum()

ID                                0
Client_Income                     0
Car_Owned                         0
Bike_Owned                        0
Active_Loan                       0
House_Own                         0
Child_Count                       0
Credit_Amount                     0
Loan_Annuity                      0
Accompany_Client                  0
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status             0
Client_Gender                     0
Loan_Contract_Type                0
Client_Housing_Type               0
Population_Region_Relative        0
Age_Days                          0
Employed_Days                  3649
Registration_Days                 0
ID_Days                           0
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation                 0
Client_Family_Members             0
Cleint_City_Rating                0
Application_Process_Day           0
Application_Process_Hour          0
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization                 0
Phone_Change                      0
Credit_Bureau                 18540
dtype: int64

In [724]:
autoloan_raw_df['Client_Income_Type'].value_counts(normalize = True)

Service           0.52
Commercial        0.23
Retired           0.18
Govt Job          0.07
Student           0.00
Unemployed        0.00
Maternity leave   0.00
Businessman       0.00
Name: Client_Income_Type, dtype: float64

In [725]:
autoloan_raw_df['Client_Education'].value_counts(normalize = True)

Secondary            0.71
Graduation           0.24
Graduation dropout   0.03
Junior secondary     0.01
Post Grad            0.00
Name: Client_Education, dtype: float64

# Pipeline

Now we need to set a pipeline for our data with the imputing staregy from the discussion above. We will set up a numeric pipeline for numerical variable. Feautres with missing value will be imputed by mean. Afterwards, it will be fed into a standard scaler for scaling.

In [726]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91392 entries, 7640 to 15795
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Client_Income               88646 non-null  float64
 1   Car_Owned                   88719 non-null  float64
 2   Bike_Owned                  88678 non-null  float64
 3   Active_Loan                 88668 non-null  float64
 4   House_Own                   88619 non-null  float64
 5   Child_Count                 88666 non-null  float64
 6   Credit_Amount               88699 non-null  object
 7   Loan_Annuity                87807 non-null  object
 8   Accompany_Client            90116 non-null  object
 9   Client_Income_Type          88623 non-null  object
 10  Client_Education            88646 non-null  object
 11  Client_Marital_Status       88788 non-null  object
 12  Client_Gender               89589 non-null  object
 13  Loan_Contract_Type          88618 non-null  object
 14  Client_Housing_Type         88625 non-null  object
 15  Population_Region_Relative  87749 non-null  object
 16  Age_Days                    88735 non-null  object
 17  Employed_Days               88676 non-null  object
 18  Registration_Days           88675 non-null  object
 19  ID_Days                     86895 non-null  object
 20  Mobile_Tag                  91392 non-null  int64
 21  Homephone_Tag               91392 non-null  int64
 22  Workphone_Working           91392 non-null  int64
 23  Client_Occupation           60306 non-null  object
 24  Client_Family_Members       89587 non-null  float64
 25  Cleint_City_Rating          89578 non-null  float64
 26  Application_Process_Day     89564 non-null  float64
 27  Application_Process_Hour    88650 non-null  float64
 28  Client_Permanent_Match_Tag  91392 non-null  object
 29  Client_Contact_Work_Tag     91392 non-null  object
 30  Type_Organization           88673 non-null  object
 31  Phone_Change                88608 non-null  float64
 32  Credit_Bureau               77380 non-null  float64
dtypes: float64(12), int64(3), object(18)
memory usage: 23.7+ MB

I am going to make a list of the following categorical variable so I can prepare a list for the feature for the one hot encoding.

In [727]:
print("Client_Occupation")
print(x_train.Client_Occupation.unique())

print("Client_Income_Type")
print(x_train.Client_Income_Type.unique())

print("Accompany_Client")
print(x_train.Accompany_Client.unique())

print("Client_Housing_Type")
print(x_train.Client_Housing_Type.unique())

print("Cleint_City_Rating")
print(x_train.Cleint_City_Rating.unique())

print("Client_Education")
print(x_train.Client_Education.unique())

print("Client_Marital_Status")
print(x_train.Client_Marital_Status.unique())

print("Client_Contact_Work_Tag")
print(x_train.Client_Contact_Work_Tag.unique())

print("Population_Region_Relative")
print(x_train.Population_Region_Relative.unique())

print("ID_Days")
print(x_train.ID_Days.unique())

print("Client_Family_Members")
print(x_train.Client_Family_Members.unique())

Client_Occupation
['Laborers' 'Managers' nan 'Core' 'Sales' 'Drivers' 'Cooking'
 'Private service' 'High skill tech' 'HR' 'Security' 'Accountants'
 'Medicine' 'Secretaries' 'Low-skill Laborers' 'Cleaning' 'Waiters/barmen'
 'IT' 'Realty agents']
Client_Income_Type
['Service' 'Commercial' nan 'Retired' 'Govt Job' 'Unemployed'
 'Maternity leave' 'Businessman' 'Student']
Accompany_Client
['Alone' 'Relative' 'Partner' 'Others' nan 'Kids' 'Group' '##']
Client_Housing_Type
['Home' 'Family' 'Municipal' nan 'Rental' 'Shared' 'Office']
Cleint_City_Rating
[ 2.  3.  1. nan]
Client_Education
['Secondary' 'Graduation' 'Graduation dropout' nan 'Junior secondary'
 'Post Grad']
Client_Marital_Status
['D' 'W' 'M' 'S' nan]
Client_Contact_Work_Tag
['Yes' 'No']
Population_Region_Relative
['0.019101' 0.010966 '0.018029' '0.01452' 0.008068 '0.035792' 0.018634
 '0.007305' '0.028663' 0.022625 '0.031329' '0.00963' '0.02461' '0.002042'
 '0.072508' 0.01452 '0.006671' 0.010276 nan '0.018634' 0.04622 0.018029
 0.00733 0.009549 0.01885 '0.002134' '0.0228' 0.008866 '0.019689'
 '0.006629' '0.032561' '0.00823' '0.022625' '0.04622' '0.018209' 0.026392
 0.006671 '0.006207' 0.006008 0.032561 '0.010276' 0.015221 0.030755
 '0.015221' '0.010147' 0.00496 '0.030755' '0.026392' '0.011657' '0.016612'
 0.035792 '0.014464' '0.003818' 0.009334 0.031329 '0.003813' 0.02461
 0.028663 '0.007114' '0.020713' '0.018801' '0.009657' '0.006296' '0.00496'
 0.008625 '0.025164' 0.009175 0.00702 '0.006852' '0.01885' 0.019689
 0.008019 '0.00712' '0.008474' '0.009175' '0.007274' 0.0228 '0.001276'
 0.00712 0.020713 0.019101 '0.0105' 0.005002 0.002042 '0.010966' '0.00702'
 '0.006233' 0.072508 '0.008866' 0.018209 '0.00733' 0.007274 '0.006008'
 0.00823 0.006305 '0.005084' 0.003818 0.010147 '0.011703' 0.006629
 '0.010643' 0.00963 0.010006 0.020246 0.007114 '0.008625' 0.007305
 '0.003069' '0.008019' 0.010032 '0.010006' 0.003069 0.018801 0.010643
 '0.010556' '0.003122' 0.006296 0.025164 '0.005313' 0.003541 0.016612
 0.009657 '0.008068' 0.011657 0.001333 '0.009549' '0.010032' '0.009334'
 '0.020246' 0.014464 0.006207 0.003813 '0.006305' 0.010556 0.006852
 0.001276 0.011703 0.006233 '0.005144' '0.002506' '0.004849' '0.005002'
 0.003122 0.005084 0.008575 0.000533 0.005144 0.004849 '0.008575' 0.001417
 '0.001417' '0.001333' 0.008474 0.005313 0.002134 0.0105 0.002506
 '0.003541' '@' '#' '0.000533' '0.000938' 0.000938 '100' 100.0]
ID_Days
['3640' '2298' '2238' ... 5263.0 1432.0 97.0]
Client_Family_Members
[ 1.  3.  2.  4. nan  6.  5. 15. 13.  7. 12.  8. 16.  9. 10. 14.]

In [728]:
Client_Education_list = ['Junior secondary','Secondary','Graduation dropout','Graduation','Post Grad']
Client_Marital_Status_list = ['D','W','M','S']

In [729]:
ordinal_Client_Education_pipeline = Pipeline([
    ('ordimputer', SimpleImputer(strategy = 'most_frequent')),
    ('ordenc', OrdinalEncoder(categories = [Client_Education_list])),
    ('ordnorm', StandardScaler())])

In [730]:
ordinal_Client_Marital_Status_pipeline = Pipeline([
    ('ordimputer', SimpleImputer(strategy = 'most_frequent')),
    ('ordenc', OrdinalEncoder(categories = [Client_Marital_Status_list])),
    ('ordnorm', StandardScaler())])

In [731]:
numeric_pipeline = Pipeline([
    ('numimputer', SimpleImputer(strategy = 'mean')), 
    ('numnorm', StandardScaler())])

In [732]:
nominal_pipeline = Pipeline([
    ('onehotimputer', SimpleImputer(strategy = 'most_frequent')),
    ('onehotenc', OneHotEncoder(sparse = False, drop = 'first')), 
    ('onehotnorm', MaxAbsScaler())])

In [733]:
num_cols = x_train.select_dtypes(['int', 'float']).columns

In [734]:
num_cols

Index(['Client_Income', 'Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own',
       'Child_Count', 'Mobile_Tag', 'Homephone_Tag', 'Workphone_Working',
       'Client_Family_Members', 'Cleint_City_Rating',
       'Application_Process_Day', 'Application_Process_Hour', 'Phone_Change',
       'Credit_Bureau'],
      dtype='object')

In [735]:
ct = ColumnTransformer(
    [ ("ordinalpipe", ordinal_Client_Education_pipeline, ['Client_Education']),
       #("ordinalpipe2", ordinal_Client_Marital_Status_pipeline, ['Client_Marital_Status']),
       #("ordinalpipe3", ordinal_emp_status_pipeline, ['employment_status']),
       #("ordinalpipe4", ordinal_edu_pipeline, ['education']),
       #("ordinalpipe5", ordinal_census_pipeline, ['census_msa']),
       #("ordinalpipe6", ordinal_hhs_pipeline, ['hhs_geo_region']),
       #("nominalpipe", nominal_pipeline,nom_resp_cols),
       #("nominalpipe2", nominal_insurance_pipeline,['health_insurance']),
       #("nominalpipe3", nominal_doc_rec_pipeline,['doctor_recc_h1n1']),
       ("numpipe", numeric_pipeline, num_cols)])

In [742]:
x_train_clean = pd.DataFrame(ct.fit_transform(x_train))
x_train_clean.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,-0.57,-0.67,-0.73,-0.72,-1.01,0.68,-0.58,0.00,-0.50,-0.63,-1.28,-0.06,-0.67,0.60,-0.47,-0.52
1,1.74,0.48,1.41,-0.72,-1.01,-1.53,-0.58,0.00,2.00,1.60,-1.28,-0.06,1.06,2.15,1.07,0.65
2,-0.57,-0.29,-0.73,-0.72,-1.01,0.68,0.82,0.00,2.00,1.60,0.94,1.94,-1.24,-2.19,-1.18,0.00
3,0.59,-0.02,-0.73,-0.72,-1.01,0.68,-0.58,0.00,-0.50,-0.63,-0.17,-0.06,-0.09,-0.95,2.80,0.06
4,-0.57,-0.56,-0.73,-0.72,-1.01,0.68,0.82,0.00,-0.50,-0.63,0.94,1.94,-1.24,-0.33,-0.92,0.00

In [737]:
#ordi =OrdinalEncoder(categories=[Client_Education_list])

In [738]:
#x_train['Client_Education'] = x_train['Client_Education'].fillna(value = 'Secondary')

In [739]:
#ordi.fit(x_train[['Client_Education']])

In [740]:
#x_train['Client_Education']

In [741]:
#pd.DataFrame(ordi.transform(x_train[['Client_Education']]))