# 1.1 Introduction

# 1.2 Reference

# 2.1 Import library and data

import libeary that is used for the analysis

In [104]:
# data analysis and wrangling
import pandas as pd
from pandas import DataFrame
import numpy as np
import random as rnd
import math
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats as stats

# visualization
import seaborn as sns
sns.set_style('darkgrid')
import matplotlib.pyplot as plt
%matplotlib inline

# scaling and train test split
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.preprocessing import MinMaxScaler

# pipeline setup
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MaxAbsScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import KNNImputer
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

# cross validation
from sklearn.model_selection import KFold
# Import the evaluation matrics
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

from sklearn.metrics import precision_score, recall_score, plot_confusion_matrix
from sklearn.model_selection import train_test_split, GridSearchCV,\
cross_val_score, RandomizedSearchCV


from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn.preprocessing import OneHotEncoder
from sklearn import tree

# evaluation on test data
from sklearn import metrics
from sklearn.metrics import mean_squared_error,mean_absolute_error,explained_variance_score
from sklearn.metrics import classification_report,confusion_matrix
# import library for Gradient Boosting
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier

Read the data into a pandas dataframe:

In [105]:
file_path_1 = ('\\Users\\eggfr\\Flatiron\\Flatiron_phase5_project\\data\\Auto_Train_Dataset.csv')
file_path_2 = ('\\Users\\eggfr\\Flatiron\\Flatiron_phase5_project\\data\\Auto_Data_Dictionary.csv')

In [106]:
autoloan_raw_df = pd.read_csv(file_path_1,encoding='unicode_escape') 
autoloan_raw_df.head()

C:\Users\eggfr\AppData\Local\Temp\ipykernel_18944\4212711854.py:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  autoloan_raw_df = pd.read_csv(file_path_1,encoding='unicode_escape')

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.00,0.00,1.00,0.00,0.00,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.57,0.48,NaN,0.02,63.00,NaN,0
1,12138936,20250,1.00,0.00,1.00,NaN,0.00,15282,1826.55,Alone,...,Yes,Yes,Government,0.56,0.22,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.00,0.00,1.00,0.00,1.00,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.55,0.33,0.07,277.00,0.00,0
3,12188929,15750,0.00,0.00,1.00,1.00,0.00,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.14,0.63,NaN,1700.00,3.00,0
4,12133385,33750,1.00,0.00,1.00,0.00,2.00,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.51,0.30,0.36,0.20,674.00,1.00,0

There are 121856 rows and 40 variables in this dataset.

In [107]:
autoloan_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [ ]:
#BIKE = BIKE.astype({"season_1":'category', "temp":'int64'}) 
#autoloan_raw_df = autoloan_raw_df.astype ({"Credit_Amount":'float', "Loan_Annuity":'float'})
autoloan_raw_df['Client_Income'] = pd.to_numeric(autoloan_raw_df['Client_Income'], errors='coerce')
autoloan_raw_df['Credit_Amount'] = pd.to_numeric(autoloan_raw_df['Credit_Amount'], errors='coerce')
autoloan_raw_df['Loan_Annuity'] = pd.to_numeric(autoloan_raw_df['Loan_Annuity'], errors='coerce')
autoloan_raw_df['Age_Days'] = pd.to_numeric(autoloan_raw_df['Age_Days'], errors='coerce')
autoloan_raw_df['Employed_Days'] = pd.to_numeric(autoloan_raw_df['Employed_Days'], errors='coerce')
autoloan_raw_df['Registration_Days'] = pd.to_numeric(autoloan_raw_df['Registration_Days'], errors='coerce')
autoloan_raw_df['ID_Days'] = pd.to_numeric(autoloan_raw_df['ID_Days'], errors='coerce')
#autoloan_raw_df[] = autoloan_raw_df[].astype()
#autoloan_raw_df[] = autoloan_raw_df[].astype()
#autoloan_raw_df[] = autoloan_raw_df[].astype()
#autoloan_raw_df[] = autoloan_raw_df[].astype()
#autoloan_raw_df[] = autoloan_raw_df[].astype()

In [ ]:
autoloan_raw_df.info()

autoloan_raw_df.isna().sum()

# 2.2 Data Undestanding and Identifying Features and Target

Once the data is loaded into a pandas dataframe, the next step is identifying which columns represent features and which column represents the target. In this project, we are going to focus on classifying whether loans is defaulted using data collected from a project competition in Hackathon platform via kaggle, which can be found from this link.
https://www.kaggle.com/datasets/saurabhbagchi/dish-network-hackathon?select=Test_Dataset.csv

The page provides two datasets, TrainDataset and TestDataset. This model building is to be done on TrainDataset. Testdataset from the link isnt used as ['Default'] data is missing. 

In the test_train split section, we are going to assign X to be the features and y to be the target, which is the ['Default'] variable. Also, this is an  inbalanced dataset, around 8% loans is defaulted. 

There is 121856 total rows of data. There is 39 columns of features. The first column respondent_id is a unique and random identifier. The remaining 38 features are described in the data library desceiption. 

Amount of loan that is defaulted is shown below.

In [ ]:
autoloan_raw_df['Default'].value_counts(normalize=True)

In [ ]:
autoloan_lib_raw_df = pd.read_csv(file_path_2,encoding='unicode_escape')

Data library description is shown as below.

In [ ]:
# let's take a look of the meaning of each columns
def left_align(df: DataFrame):
    left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
    left_aligned_df = left_aligned_df.set_table_styles(
        [dict(selector='th', props=[('text-align', 'left')])]
    )
    return left_aligned_df
left_align(autoloan_lib_raw_df)

# Initial Data Processing

Let's drop some unused feature. ID isnt going to be useful for the analysis. Own_house_Age, Social_Circle_Default','Score_Source_1','Score_Source_3' miss too many data, so they are going to be dropped.

In [ ]:
autoloan_raw_df = autoloan_raw_df.drop(columns=['ID','Own_House_Age','Social_Circle_Default','Score_Source_1','Score_Source_2''Score_Source_3'], axis=1)

Datatype changing

Convert the following variabrles into numerical vairables. They are in object datatype because of missing value. Changing them into numerical form makes it easy to build the pipeline later,

In [ ]:
autoloan_raw_df['Client_Income'] = pd.to_numeric(autoloan_raw_df['Client_Income'], errors='coerce')
autoloan_raw_df['Credit_Amount'] = pd.to_numeric(autoloan_raw_df['Credit_Amount'], errors='coerce')
autoloan_raw_df['Loan_Annuity'] = pd.to_numeric(autoloan_raw_df['Loan_Annuity'], errors='coerce')
autoloan_raw_df['Age_Days'] = pd.to_numeric(autoloan_raw_df['Age_Days'], errors='coerce')
autoloan_raw_df['Employed_Days'] = pd.to_numeric(autoloan_raw_df['Employed_Days'], errors='coerce')
autoloan_raw_df['Registration_Days'] = pd.to_numeric(autoloan_raw_df['Registration_Days'], errors='coerce')
autoloan_raw_df['ID_Days'] = pd.to_numeric(autoloan_raw_df['ID_Days'], errors='coerce')
autoloan_raw_df['Population_Region_Relative'] = pd.to_numeric(autoloan_raw_df['Population_Region_Relative'], errors='coerce')

Convert the following variabrles into 'object type'. Despite being in integer form, we are going to convert it to object because these are categorical variables.

In [ ]:
autoloan_raw_df['Application_Process_Day'] = autoloan_raw_df['Application_Process_Day'].astype('object')
autoloan_raw_df['Application_Process_Hour'] = autoloan_raw_df['Application_Process_Hour'].astype('object')

Convert the following categorical variabrles into 0 and 1, and it will make it easier to build the pipeline later

In [ ]:
#autoloan_raw_df['Client_Gender'].replace({'Male': 0, 'Female': 1, 'XNA': nan}, inplace=True)
autoloan_raw_df['Client_Contact_Work_Tag'].replace({'No': 0, 'Yes': 1}, inplace=True) 
autoloan_raw_df['Client_Permanent_Match_Tag'].replace({'No': 0, 'Yes': 1}, inplace=True)

Removing Outlier

lets look at the distribution of the numerical data

In [ ]:
fig, axes = plt.subplots(nrows=4, ncols=7, figsize=(12, 8))

numericals = [column for column in autoloan_raw_df.select_dtypes(['int', 'float']).columns]

for feature, ax in zip(numericals, axes.flatten()):
    ax.hist(autoloan_raw_df[feature], bins=50)
    ax.set_title(feature)
    
fig.tight_layout()

In [ ]:
autoloan_raw_df['Client_Income'].describe()

In [ ]:
autoloan_raw_df['Population_Region_Relative'].describe()

In [ ]:
autoloan_raw_df['Credit_Bureau'].describe()

In [ ]:
upper = autoloan_raw_df.Population_Region_Relative.quantile(.99)
upper1 = autoloan_raw_df.Client_Income.quantile(.99)
upper2 = autoloan_raw_df.Credit_Bureau.quantile(.99)
autoloan_raw_df['Client_Income'] = autoloan_raw_df['Client_Income'].clip(upper=upper1)
autoloan_raw_df['Population_Region_Relative'] = autoloan_raw_df['Population_Region_Relative'].clip(upper=upper)
autoloan_raw_df['Credit_Bureau'] = autoloan_raw_df['Credit_Bureau'].clip(upper=upper2)

In [ ]:
autoloan_raw_df.info()

In [ ]:
fig, axes = plt.subplots(nrows=4, ncols=7, figsize=(12, 8))

numericals = [column for column in autoloan_raw_df.select_dtypes(['int', 'float']).columns]

for feature, ax in zip(numericals, axes.flatten()):
    ax.hist(autoloan_raw_df[feature], bins=50)
    ax.set_title(feature)
    
fig.tight_layout()

In [ ]:
autoloan_raw_df['Credit_Bureau'].describe()

In [ ]:
autoloan_raw_df['Population_Region_Relative'].describe()

In [ ]:
autoloan_raw_df.shape

Changing these categorical binary variable into 0 and 1

Drop Value

In [ ]:
# autoloan_raw_df = autoloan_raw_df.drop(columns=['ID','Own_House_Age','Social_Circle_Default','Score_Source_1','Score_Source_2','Score_Source_3'], axis=1)

Separating data into training and testing sets is an important part of evaluating the models.Most of the data is used for training, and a smaller portion of the data is used for testing. For this analysis: we only split data into train and test. 75% of the data is for training and 25% for test. Also, the data split happened before we even do any EDA analysis to prevent data leakage. There is 91392 row of datas for the train set and 30464 rows of the data for test set before any data cleaning or analysis is done.

# 4.1 Pre-processing and Exploratory Analysis

drop-list

convert categorical binary

In [ ]:
#y_train_df.replace({'functional': 0, 'functional needs repair': 1, 'non functional': 2}, inplace=True)

In [ ]:
#columns_to_drop = ['date_recorded', 'longitude', 'latitude', 'num_private', 'region', 'wpt_name', 
 #                  'subvillage', 'ward', 'recorded_by', 'scheme_management', 'scheme_name', 
 #                  'extraction_type_group', 'extraction_type_class', 'management_group', 'payment', 
 #                  'quality_group', 'quantity_group', 'source_type', 'source_class', 'waterpoint_type_group']

#X_train_df.drop(columns=columns_to_drop, inplace=True)

# Preview new dataframe
#X_train_df

In [ ]:
autoloan_raw_df.isna().sum()

In [ ]:
missing_fractions = autoloan_raw_df.isnull().mean().sort_values(ascending=False)
#missing_fractions = autoloan_raw_df.isnull().mean()
missing_fractions

There is missing value dataset, and lets f

# 4.1 ID

Are all the IDs unique?

In [ ]:
#autoloan_raw_df['ID'].nunique()

In [ ]:
pd.options.display.float_format = "{:.2f}".format

In [ ]:
#autoloan_raw_df['ID'].describe()

They are all unique, however ID isnt useful for modeling and is dropped later.

# 4.2 Income

0.03% of Client_Income data has a missing value, and it is going to be replaced by the income average?, which is the most frequency method for the SimpleImputer when we set up the preprocessing pipeline

In [ ]:
autoloan_raw_df['Client_Income'] = pd.to_numeric(autoloan_raw_df['Client_Income'], errors='coerce')
autoloan_raw_df['Client_Income'] = autoloan_raw_df['Client_Income'].fillna(0)
#x_train['Client_Income'] = pd.to_numeric(x_train['Client_Income'], errors='coerce')
#x_test['Client_Income'] = pd.to_numeric(x_test['Client_Income'], errors='coerce')

#autoloan_raw_df['Client_Income'] = autoloan_raw_df['Client_Income'].fillna(0)
#autoloan_raw_df['Client Income'] = autoloan_raw_df['Client_Income'].apply(lambda x: float(x))
#autoloan_raw_df['Client Income'] = autoloan_raw_df['Client Income'].astype(float).fillna(autoloan_raw_df['Client Income'].median())
#autoloan_raw_df[autoloan_raw_df.columns['Client_Income']] = autoloan_raw_df[autoloan_raw_df.columns['Client_Income']].apply(pd.to_numeric, errors='coerce').fillna(0)

In [ ]:
autoloan_raw_df.isna().sum()

3.3 Car_Owned

0.03% of Car_Owned data has a missing value, and it is going to be replaced by the non Car_Owned, which is the most frequency method for the SimpleImputer when we set up the preprocessing pipeline

In [ ]:
autoloan_raw_df['Car_Owned'].value_counts(normalize = True)

In [ ]:
autoloan_raw_df['Car_Owned'] = autoloan_raw_df['Car_Owned'].fillna(0)

 3.4 Bike_Owned

0.03% of Bike_Owned data has a missing value, and it is going to be replaced by the non Bike_Owned, which is the most frequency method.

In [ ]:
autoloan_raw_df['Bike_Owned'].value_counts(normalize = True)

In [ ]:
autoloan_raw_df['Bike_Owned'] = autoloan_raw_df['Bike_Owned'].fillna(0)

 3.5 Active_Loan

In [ ]:
autoloan_raw_df['Active_Loan'].value_counts(normalize = True)

0.03% of active loan data has a missing value, and it is going to be replaced by the mean of the default group.

In [ ]:
autoloan_raw_df['Active_Loan'].value_counts(normalize = True)

In [ ]:
autoloan_raw_df['Active_Loan'] = autoloan_raw_df['Active_Loan'].fillna(autoloan_raw_df.groupby('Default')['Active_Loan'].transform('mean'))

In [ ]:
autoloan_raw_df.isna().sum()

In [ ]:
#autoloan_raw_df['Client_Income'] = autoloan_raw_df['Client_Income'].fillna(autoloan_raw_df['Client_Income'].median())

In [ ]:
autoloan_raw_df['Client_Occupation'].value_counts(normalize=True)

3.6 House_Own

In [ ]:
autoloan_raw_df['House_Own'].value_counts(normalize = True)

0.03% of active loan data has a missing value, and it is going to be replaced by the mean of the default group.

3.7 Child_Count

In [ ]:
autoloan_raw_df['Child_Count'].value_counts(normalize = True)

In [ ]:
autoloan_raw_df['Client_Occupation'] = autoloan_raw_df['Client_Occupation'].fillna(value ='Other')

In [ ]:
autoloan_raw_df.isna().sum()

In [ ]:
autoloan_raw_df['Credit_Amount'] = autoloan_raw_df['Credit_Amount'].fillna(autoloan_raw_df['Credit_Amount'].mean)
autoloan_raw_df['Loan_Annuity'] = autoloan_raw_df['Loan_Annuity'].fillna(autoloan_raw_df['Loan_Annuity'].mean)

In [ ]:
autoloan_raw_df['Loan_Annuity'] = autoloan_raw_df['Loan_Annuity'].fillna(autoloan_raw_df['Loan_Annuity'].mean)

In [ ]:
autoloan_raw_df['Credit_Amount'] = autoloan_raw_df['Credit_Amount'].fillna(autoloan_raw_df['Credit_Amount'].mean)

In [ ]:
autoloan_raw_df.isna().sum()

In [ ]:
autoloan_raw_df['Client_Income_Type'].value_counts(normalize = True)

In [ ]:
autoloan_raw_df['Client_Education'].value_counts(normalize = True)

# Test Train Split

In [ ]:
y = autoloan_raw_df['Default']
X = autoloan_raw_df.drop(columns=['Default'], axis=1)

In [ ]:
#create train-test set using 75%-25% ratio for the train set and test set and set the random state = 42) randomly split the data
x_train, x_test, y_train, y_test = train_test_split(X, y ,test_size=0.25,stratify=y,random_state=42)
# shape of train and test splits
x_train.shape, x_test.shape, y_train.shape, y_test.shape

# Pipeline

Now we need to set a pipeline for our data with the imputing staregy from the discussion above. We will set up a numeric pipeline for numerical variable. Feautres with missing value will be imputed by mean. Afterwards, it will be fed into a standard scaler for scaling.

In [ ]:
x_train.info()

I am going to make a list of the following categorical variable so I can prepare a list for the feature for the one hot encoding.

In [ ]:
print("Accompany_Client")
print(x_train.Accompany_Client.unique())

print("Client_Income_Type")
print(x_train.Client_Income_Type.unique())

print("Client_Education")
print(x_train.Client_Education.unique())

print("Client_Marital_Status")
print(x_train.Client_Marital_Status.unique())

print("Client_Gender")
print(x_train.Client_Gender.unique())


#print("Client_Loan_Contract_Type")
#print(x_train.Client_Loan_Contract_Type.unique())

print("Client_Housing_Type")
print(x_train.Client_Housing_Type.unique())


#print("Client_Loan_Contract_Type")
#print(x_train.Client_Loan_Contract_Type.unique())

print("Cleint_City_Rating")
print(x_train.Cleint_City_Rating.unique())

print("Client_Education")
print(x_train.Client_Education.unique())

print("Client_Marital_Status")
print(x_train.Client_Marital_Status.unique())

print("Client_Occupation")
print(x_train.Client_Occupation.unique())


print("Client_Contact_Work_Tag")
print(x_train.Client_Contact_Work_Tag.unique())

print("Client_Permanent_Match_Tag")
print(x_train.Client_Permanent_Match_Tag.unique())

print("Loan_Contract_Type")
print(x_train.Loan_Contract_Type.unique())

print("Type_Organization")
print(x_train.Client_Income_Type.unique())

In [ ]:
x_train.info()

In [ ]:
Client_Education_list = ['Junior secondary','Secondary','Graduation dropout','Graduation','Post Grad']
Client_Marital_Status_list = ['D','W','M','S']

In [ ]:
ordinal_Client_Education_pipeline = Pipeline([
    ('ordimputer', SimpleImputer(strategy = 'most_frequent')),
    ('ordenc', OrdinalEncoder(categories = [Client_Education_list])),
    ('ordnorm', StandardScaler())])

In [ ]:
ordinal_Client_Marital_Status_pipeline = Pipeline([
    ('ordimputer', SimpleImputer(strategy = 'most_frequent')),
    ('ordenc', OrdinalEncoder(categories = [Client_Marital_Status_list])),
    ('ordnorm', StandardScaler())])

In [ ]:
nominal_pipeline = Pipeline([
    ('onehotimputer', SimpleImputer(strategy = 'most_frequent')),
    ('onehotenc', OneHotEncoder(sparse = False, drop = 'first')), 
    ('onehotnorm', MaxAbsScaler())])

In [ ]:
numeric_pipeline = Pipeline([
    ('numimputer', SimpleImputer(strategy = 'mean')), 
    ('numnorm', StandardScaler())])

In [ ]:
#class NameDropper (BaseEstimator, TransformerMixin):
  #  def

In [ ]:
x_train.info()

In [ ]:
#for item in three_per:
    #autoloan_raw_df[item] = autoloan_raw_df[item].fillna(0)
    #autoloan_raw_df[item] = autoloan_raw_df[item].astype(int)

In [ ]:

num_cols = list(x_train.select_dtypes(['int', 'float']).columns)
ohe_cols = list(x_train.select_dtypes('object').columns)

In [ ]:
num_cols

In [ ]:
ct = ColumnTransformer(
    [ ("ordinalpipe", ordinal_Client_Education_pipeline, ['Client_Education']),
       ("ordinalpipe2", ordinal_Client_Marital_Status_pipeline, ['Client_Marital_Status']),
       #("ordinalpipe3", ordinal_emp_status_pipeline, ['employment_status']),
       #("ordinalpipe4", ordinal_edu_pipeline, ['education']),
       #("ordinalpipe5", ordinal_census_pipeline, ['census_msa']),
       #("ordinalpipe6", ordinal_hhs_pipeline, ['hhs_geo_region']),
       ("nominalpipe", nominal_pipeline,ohe_cols),
       #("nominalpipe2", nominal_insurance_pipeline,['health_insurance']),
       #("nominalpipe3", nominal_doc_rec_pipeline,['doctor_recc_h1n1']),
       ("numpipe", numeric_pipeline, num_cols)])

In [ ]:
x_train_clean = pd.DataFrame(ct.fit_transform(x_train))
x_train_clean.head()

# Baseline Model

In [ ]:
steps=[('preprocessing', ct), 
       ('classifier', DummyClassifier(strategy='most_frequent'))]

In [ ]:
baseline_pipe = Pipeline(steps)

In [ ]:
baseline_pipe.fit(x_train, y_train)

In [ ]:
y_pred0= baseline_pipe.predict(x_test)

In [ ]:
status_labels = ['0: Normal', '1: Default']
plot_confusion_matrix(baseline_pipe,x_test,y_test,display_labels = status_labels)
plt.grid(False)
plt.title('Confusion Matrix - Baseline')
plt.show()

baseline_classification_report = classification_report(y_test, y_pred0)
print(baseline_classification_report)

In [ ]:
print(baseline_pipe.score(x_train,y_train))
print(baseline_pipe.score(x_test,y_test))

In [ ]:
steps = [('preprocess', ct),
            ('logreg',
                       LogisticRegression(random_state=42))]

model1_pipe = Pipeline(steps)

In [ ]:
model1_pipe.fit(x_train,y_train)

In [ ]:
y_pred = model1_pipe.predict(x_test)

In [ ]:
acc = accuracy_score(y_test,y_pred) * 100
print('Accuracy is :{0}'.format(acc))

pre = precision_score(y_test,y_pred) * 100
print('precision is :{0}'.format(pre))

# Check the AUC for predictions
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
roc_auc = auc(false_positive_rate, true_positive_rate)
print('\nAUC is :{0}'.format(round(roc_auc, 2)))

# Create and print a confusion matrix 
print('\nConfusion Matrix')
print('----------------')
#pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)
from sklearn.metrics import plot_confusion_matrix


plot_confusion_matrix(model1_pipe,x_test,y_test,display_labels = status_labels)
plt.grid(False)
plt.title('Confusion Matrix - Linera Regression ')
plt.show()
logreg_classification_report = classification_report(y_test, y_pred)
print(logreg_classification_report)

In [ ]:
print(model1_pipe.score(x_train,y_train))
print(model1_pipe.score(x_test,y_test))

In [ ]:
#ordi =OrdinalEncoder(categories=[Client_Education_list])

In [ ]:
#x_train['Client_Education'] = x_train['Client_Education'].fillna(value = 'Secondary')

In [ ]:
#ordi.fit(x_train[['Client_Education']])

In [ ]:
#x_train['Client_Education']

In [ ]:
#pd.DataFrame(ordi.transform(x_train[['Client_Education']]))